nav#main {
    background-color: lightgray;
}

nav#main li {
    display: inline-block;
    margin-right: 20px;
}

img.full-width-img {
    width: 100%;
}

img.img-trans {
    max-height: 342px;
}

img.img-teachers {
    max-height: 199px;
}

img.img-money {
    max-height: 146px;
}

img.img-society {
    max-height: 186px;
}